<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9FLs0IRHrpizqVoXKZBen2nguOIjhJ8U</string>
	<key>GCM_SENDER_ID</key>
	<string>547803490829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tesbihApp</string>
	<key>PROJECT_ID</key>
	<string>tesbee-655c7</string>
	<key>STORAGE_BUCKET</key>
	<string>tesbee-655c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547803490829:ios:11488612b0a1e26c918344</string>
</dict>
</plist>